.highlight {
  background-color: #000;
  color: #ccc;
  border: 1px solid #ae7847;
    border-radius: 3px 3px 3px 3px;
    overflow: auto;
    padding: 6px 10px;
}
.highlight .c { color: #87ceeb } /* Comment */
.highlight .err { color: #000; background-color: #f66; font-weight: bold; } /* Error */
.highlight .k { color: #c66 } /* Keyword */
.highlight .l { color: #addbe7 } /* Literal */
.highlight .n { color: #98fb98 } /* Name */
.highlight .o { color: #f0e68c } /* Operator */
.highlight .p { color: #f0e68c } /* Punctuation */
.highlight .cm { color: #87ceeb } /* Comment.Multiline */
.highlight .cp { color: #87ceeb } /* Comment.Preproc */
.highlight .c1 { color: #87ceeb } /* Comment.Single */
.highlight .cs { color: #87ceeb } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #c66 } /* Keyword.Constant */
.highlight .kd { color: #c66 } /* Keyword.Declaration */
.highlight .kn { color: #c66 } /* Keyword.Namespace */
.highlight .kp { color: #c66 } /* Keyword.Pseudo */
.highlight .kr { color: #c66 } /* Keyword.Reserved */
.highlight .kt { color: #c66 } /* Keyword.Type */
.highlight .ld { color: #addbe7 } /* Literal.Date */
.highlight .m { color: #addbe7 } /* Literal.Number */
.highlight .s { color: #addbe7 } /* Literal.String */
.highlight .na { color: #98fb98 } /* Name.Attribute */
.highlight .nb { color: #f0e68c } /* Name.Builtin */
.highlight .nc { color: #f0e68c } /* Name.Class */
.highlight .no { color: #ffa0a0 } /* Name.Constant */
.highlight .nd { color: #98fb98 } /* Name.Decorator */
.highlight .ni { color: #98fb98 } /* Name.Entity */
.highlight .ne { color: #98fb98 } /* Name.Exception */
.highlight .nf { color: #f0e68c } /* Name.Function */
.highlight .nl { color: #98fb98 } /* Name.Label */
.highlight .nn { color: #98fb98 } /* Name.Namespace */
.highlight .nx { color: #98fb98 } /* Name.Other */
.highlight .py { color: #98fb98 } /* Name.Property */
.highlight .nt { color: #98fb98 } /* Name.Tag */
.highlight .nv { color: #98fb98 } /* Name.Variable */
.highlight .ow { color: #f0e68c } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #addbe7 } /* Literal.Number.Float */
.highlight .mh { color: #addbe7 } /* Literal.Number.Hex */
.highlight .mi { color: #addbe7 } /* Literal.Number.Integer */
.highlight .mo { color: #addbe7 } /* Literal.Number.Oct */
.highlight .sb { color: #addbe7 } /* Literal.String.Backtick */
.highlight .sc { color: #addbe7 } /* Literal.String.Char */
.highlight .sd { color: #addbe7 } /* Literal.String.Doc */
.highlight .s2 { color: #addbe7 } /* Literal.String.Double */
.highlight .se { color: #addbe7 } /* Literal.String.Escape */
.highlight .sh { color: #addbe7 } /* Literal.String.Heredoc */
.highlight .si { color: #addbe7 } /* Literal.String.Interpol */
.highlight .sx { color: #addbe7 } /* Literal.String.Other */
.highlight .sr { color: #addbe7 } /* Literal.String.Regex */
.highlight .s1 { color: #addbe7 } /* Literal.String.Single */
.highlight .ss { color: #addbe7 } /* Literal.String.Symbol */
.highlight .bp { color: #bdb76b } /* Name.Builtin.Pseudo */
.highlight .vc { color: #bdb76b } /* Name.Variable.Class */
.highlight .vg { color: #bdb76b } /* Name.Variable.Global */
.highlight .vi { color: #bdb76b } /* Name.Variable.Instance */
.highlight .il { color: #addbe7 } /* Literal.Number.Integer.Long */
